snippet rsd
	it { should validate_presence_of :${1} }

	it "属性" do
	  ${3:@$2} = create(:${2:obj})
	  expect(${4:$3}.respond_to?(:${5:method})).to be true
	end

	it "关系" do
	  ${7:$3} = create(:${6:$2})
	  expect(${8:$3}.respond_to?(:${9:method})).to be true
	end

	describe "方法" do
	end
