snippet trc
	import Taro, { Component } from '@tarojs/taro';
	import { View } from '@tarojs/components';
	import { connect } from '@tarojs/redux';
	@connect(({datas}) => ({
	  ...datas,
	}))

	class ${1} extends React.Component {
	  render() {
	    return <></>;
	  }
	}

